<!-- Inside app/views/recipes/show.html.erb -->
<!--<div class="recipe-content">-->
  <%# if @generated_recipe_content.present? %>
<!--    <pre><%#= @generated_recipe_content %></pre>-->
  <%# else %>
<!--    <p>No recipe content generated.</p>-->
  <%# end %>
<!--</div>-->

<div class="container">

  <h1><%= @recipe.recipe_name %></h1>
  <p>Prep time: <%= @recipe.prep_time %></p>
  <p>Cooking time: <%= @recipe.cooking_time %></p>
  <p>Difficulty: <%= @recipe.level %>/5</p>
  <strong><p>Instructions</p></strong>
  <p><%= @recipe.instructions %></p>
<!-- Display recipe details here -->
</div>
