<div class="container align-items-center text-dark">
  <h1 class='mb-4'>Favourites</h1>

  <%= form_tag favourites_path, method: :get, class: "d-flex justify-content-center mb-4" do %>
    <%= text_field_tag :query,
          params[:query],
          class: "form-control mr-2",
          placeholder: "Type a keyword"
      %>
    <%= submit_tag "Search", name: nil, class: "btn btn-primary" %>
  <% end %>

  <% if @favourites.empty? %>
    <h4>You have no favourites yet</h4>
  <% else %>
    <% @favourites.each do |favourite| %>
      <span><%= link_to favourite.recipe.recipe_name, recipe_path(favourite.recipe), class: 'text-decoration-none' %> <%= link_to 'Delete', favourite_path(favourite), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'text-dark text-decoration-none' %></span>
      <p style="font-size: 12px; margin: 0;">created at: <%= favourite.recipe.created_at %></p>
      <span style="font-size: 10px; color: #666;">
        <i class="fa-regular fa-clock"></i> Prep Time: <%= favourite.recipe.prep_time %>
      </span>
    <% end %>
  <% end %>
</div>

<%= link_to 'Back to recipes', recipes_path, class: 'text-dark justify-content-start' %>
