<div class='products-card' data-search-products-target="list">
  <ul class='list-group'>
    <%= form_with url: generate_recipes_path, method: :post do |form| %>
      <ul id="productsList">
        <% products.each do |product| %>
          <li class='list-group-item d-flex justify-content-between align-items-center'>
            <div class='card-product'>
              <div class='name'><%= image_tag "foodbee-yellow.jpg", alt: "circle image" %> <strong><%= product.product_name %></strong></div>
              <div class='text-muted description'><%= product.description %></div>
            </div>
            <div class='btns'>
              <span>
                <%= link_to edit_product_path(product) do %>
                  <i class="fa-solid fa-pen"></i>
                <% end %>
                <%= link_to product_path(product), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } do %>
                  <i class="fa-solid fa-trash-can"></i>
                <% end %>
                <%= form.check_box :product_ids, { multiple: true, class: 'product-checkbox' }, product.id, nil %>
              </span>
            </div>
          </li>
        <% end %>
      </ul>
  </ul>
</div>
<div class='btn-product text-center mt-3'>
  <%= form.submit "Generate AI recipe", class: 'btn-generate btn-outline' %>
<% end %>
