<div class="container m-4">
  <h2 class='text-center'>Edit product</h2>

  <div class='card-form d-flex justify-content-center'>
    <p><%= form_with model: @product do |f| %></p>
      <p><%= f.label :product_name %></p>
      <p><%= f.text_field :product_name, class: 'name-field' %></p>
      <p><%= f.label :description %></p>
      <p><%= f.text_field :description, class: 'description-field' %></p>
      <p><%= f.submit :Update %></p>
    <p><% end %></p>
  </div>
</div>
<!--could use JS to add the edit form underneath each product instead of redirecting-->
