<div class="container-edit">
  <%= link_to products_path, class: 'text-light justify-content-start mx-3' do %>
    <i class="fas fa-arrow-left"></i>
  <% end %>

  <div class='card-whole'>
    <h2 class='text-center'>Edit your ingredient</h2>
    <div class='card-form d-flex justify-content-center'>
      <p><%= form_with model: @product do |f| %></p>
        <p><%= f.label :product_name, class: 'label' %></p>
        <p><%= f.text_field :product_name, class: 'field' %></p>
        <p><%= f.label :description, class: 'label' %></p>
        <p><%= f.text_field :description, class: 'field' %></p>
        <p><%= f.submit :Update, class: 'btn' %></p>
      <p><% end %></p>
    </div>
</div>
