<div class='container-products-index justify-content-center' data-controller="search-products">

  <div class='heading-div text-center mt-5'>
    <h1>Your Ingredients</h1>
    <%= link_to new_product_path, class: 'btn btn-outline' do %>
      <i class="fa-solid fa-circle-plus" style="font-size: 24px;"></i>
    <% end %>
  </div>
  <div class='products-card mt-3'>
    <ul class='list-group'>
      <%= form_with url: generate_recipes_path, method: :post do |form| %>
        <ul id="productsList">
          <% @products.each do |product| %>
          <li class='list-group-item d-flex justify-content-between align-items-center'>
            <div class='card-product'>
              <div class='name'><%= image_tag "foodbee-yellow.jpg", alt: "circle image" %>
                <strong class="product-name"><%= product.product_name %></strong>
                <span>
                  <%= link_to edit_product_path(product) do %>
                    <i class="fa-solid fa-pen" style='color: #000000'></i>
                  <% end %>
                  <%= link_to product_path(product), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } do %>
                    <i class="fa-solid fa-trash-can" style='color: #000000'></i>
                  <% end %>
                </span>
              </div>
            <div class='text-muted description'><%= product.description %></div>
            </div>
            <div class='btns'>
              <%= form.check_box :product_ids, { multiple: true, class: 'product-checkbox' }, product.id, nil %>
            </div>
          </li>
          <% end %>
        </ul>

        <div class='btn-product text-center'>
          <%= form.submit "Give me a Recipe", class: 'btn btn-outline' %>
          <%= link_to 'Add grocery', new_product_path, class: 'btn btn-outline' %>
          <%#= link_to 'Create recipe', new_generate_recipes_path, class: 'btn btn-outline' %>
        </div>
      <% end %>
    </ul>
  </div>

<!--  <div class="products-index-form-wrapper my-4">-->

<!--  </div>-->

  <div class="products-index-form-wrapper my-4">
    <%= form_with url: products_path, method: :get, html: {data: {search_products_target: "form"}} do |f| %>
      <%= f.text_field :query,
                        class: "form-control",
                        value: params[:query],
                        placeholder: "Search products...",
                        data: {search_products_target: "input", action: "keyup->search-products#update"} %>
    <% end %>
  </div>

  <%= render "products_list", products: @products %>


  </div>
</div>
