<div class='container justify-content-center'>
  <div class='heading-div text-center'>
    <h1>Groceries</h1>
    <p>Feel free to add any ingredients you want to use for your recipes :)</p>
  </div>
  <div class='products-card mt-3 d-flex justify-content-center'>
    <ul class='list-group'>     <!--grouped appearance to list-->
      <% @products.each do |product| %>
      <li class='list-group-item d-flex justify-content-between align-items-center my-3'>
        <div class='card-product m-3'>
          <div class='name'><%= image_tag "foodbee-yellow.jpg", alt: "circle image" %> <strong><%= product.product_name %></strong></div>
          <div class='text-muted'><%= product.description %></div>     <!--gives text lighter shade-->
        </div>
        <div class='btns'>
          <%= link_to 'Edit', edit_product_path(product) %> <%= link_to 'Delete', product_path(product), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
        </div>
      </li>
      <% end %>
    </ul>
  </div>

  <div class='btn-product text-center'>
    <%= link_to 'Add product', new_product_path, class: 'btn btn-outline' %>
    <%#= link_to 'Recipe suggestions', product_recipes_path(@products), class: 'btn btn-outline' %>
<!---->  </div>
</div>
