<!DOCTYPE html>
<html>
  <head>
    <title>Foodbee</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Fredoka:wght@300..700&family=Italiana&family=Noto+Serif+Gujarati:wght@100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Fredoka:wght@300..700&family=Italiana&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif+Gujarati:wght@100..900&display=swap" rel="stylesheet">
    <%= favicon_link_tag "favicon (4).ico" %>

    <title><%= 'Foodbee' %></title>
    <meta name="description" content="<%= 'Cook like a chef' %>">

    <meta property="og:title" content="<%= 'Cook with AI generated recipes' %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= meta_image = '/app/assets/images/foodbee-white.png'%>" />
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
    <%= render "shared/flashes" %>
    <%= yield %>
    <%= render "shared/navbar_foodbee" %>
  </body>
</html>
